<!DOCTYPE html>
<html>
<head>
  <title>BeerTour</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Beer Tour</h1>
  <nav>
    <p><a href="/breweries/search">New Tour<a> | <a href="/users/new">New User</a></p>
  </nav>

<%= yield %>

</body>
</html>
